modules = ["php-8.2", "web", "mysql-8"]
run = "php -S 0.0.0.0:80 index.php"
hidden = [".config", ".git", "generated-icon.png"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 80
externalPort = 80
